<%= render "shared/back_link", back_path: health_records_path %>
<div class="p-4 max-w-4xl mx-auto">
  <h1 class="text-2xl font-bold">健康記録を登録</h1>
</div>
<%= render "form", health_record: @health_record %>
