<%= render "shared/back_link", back_path: expenses_path %>
<div class="p-4 max-w-4xl mx-auto">
  <h1 class="text-2xl font-bold">出費を編集</h1>
</div>
<%= render "form", expense: @expense, categories: @categories %>
